
body{
    overflow: auto !important;
}
.wraper section#qualities.index-3 {
    padding: 0;
    position: relative;
    min-height: 250px;
    overflow: visible !important;
    top: -100px;
    z-index: 999;
}
.wraper section#qualities.index-3{
    padding: 60px 0;
}
section#about-us-inner{
    padding: 100px 0 !important;
}
#portfolio section#counter .counter-column .count_icon i::before {
    color: black;
}
section#portfolio .project .label {
    background-color: #ff6204;
}
.item.service-card:hover {
    background-color: #ff6204;
}